<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Coin P2P</title>
    <link rel="stylesheet" href="~/Styles/Main.css">
</head>

<body>
    <header>
        <nav>
            <li><a href="~/Home">Index</a></li>
            <li><a href="~/Network">Network</a></li>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>

    </footer>
    <script src="~/Scripts/Main.js"></script>
    <script src="~/Scripts/Rest.js"></script>
</body>

</html>