@{
    Layout = "MainLayout";
}

<link rel="stylesheet" href="~/Styles/Crypto.css">

<h2>Crypto Manager</h2>

<input type="hidden" id="isite" value="@(Model.Site)"/>

<div>

    <input type="text" id="iprivate" />
    <br />
    <input type="text" id="ipublic" />
    <br />
    <button onclick="generate()">Generate</button>

</div>

<div>

    <input type="text" id="imessage" value="Secret Phrase"/>
    <br />
    <input type="text" id="iencrypted" />
    <br />
    <input type="text" id="idecrypted" />
    <br />
    <button onclick="encrypt()">Encrypt</button>
    <button onclick="decrypt()">Decrypt</button>

</div>

<script src="~/Scripts/Crypto.js"></script>
